<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrl url="http://services1.arcgis.com/mQcAehnytds8jMvo/arcgis/rest/services/Bilgoraj_ankieta/FeatureServer/0/applyEdits"
  http://services1.arcgis.com/mQcAehnytds8jMvo/arcgis/rest/services/Bilgoraj_ankieta/FeatureServer/0
      clientId="kQpstMwEgbwE0ZTE"
      clientSecret="879939c42b954d7fa2a06243122ed61a"
      rateLimit="600"
      rateLimitPeriod="60"
      matchAll="true">
  </serverUrl>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
